<h1>Music History</h1>

<div class="btn-group">
  <button type="button" class="btn btn-primary btn-lg" ng-click='touchMusicArtists()'>Artists</button>
  <button type="button" class="btn btn-primary btn-lg" ng-click='touchMusicAlbums()'>Albums</button>
  <button type="button" class="btn btn-primary btn-lg" ng-click='touchMusicSongs()'>Songs</button>
</div>

<!-- <div ng-repeat="x in artists">
	<div class="card">
		<h1>{{x.name}}</h1>
	</div>
</div>

<div ng-repeat="x in albums">
	<div class="card">
		<h1>{{x.title}}</h1>
	</div>
</div>
 -->
  
<!-- <div class="btn-group btn-group-lg" role="group" aria-label="..."></div> -->