


<div class="jumbotron">
  <div class="container">
    <h1>Feature soon to come!</h1>
    <div class="input-group input-group-justified">
  <div class="input-group-btn">
    <!-- Button and dropdown menu -->
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter on <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Artists</a></li>
        <li><a href="#">Albums</a></li>
        <li><a href="#">Songs</a></li>
        <li><a href="#">Genre</a></li>
      </ul>
    </div>
  </div>
  <input size="250" type="text" class="form-control" aria-label="...">
</div>
  </div>
</div>